@font-face {
						font-family:"Waters Gothic";
						src:url('images/Waters Gothic.ttf');
}
@font-face {
						font-family:"Fanzine Title";
						src:url('images/Fanzine Title.ttf');
}
.installwp{
  
  display:    inline;
}
.WORD{
  
}
.MONSITE{
  
}
body{
  background-image: url('images/backgroundwp.png');
    color: #06A2D6;

}
.theme{

  width: 19.8em;
  border-bottom-left-radius: 40px;
  opacity: 0.7;
  height: 15.1em;
}
.theme1{

  width: 20.3em;

  border-bottom-left-radius: 40px;
  opacity: 0.9;
  height: 15.1em;
}
.theme2{

  width: 20.3em;

  border-bottom-left-radius: 40px;
  height: 15.1em;
  opacity: 0.9;
}
.theme3{

  width: 20.3em;

  border-bottom-left-radius: 40px;
  height: 15.1em;
}
.theme4{
  width: 20.3em;

  border-bottom-left-radius: 40px;
  height: 15.1em;
}

h1{
  text-align: center;
  font-family: "Fanzine Title";
}
.preligne{

  height: 1.5em;
  background-color: #1D1D1C;
  width: 79.1em;
  margin: auto;
  border-radius: 5px;
}
.contact{
  display: inline;
  color: white;
}
.monsite{
  display: inline;
  color: white;
  margin-left: 530px;
}
.moncv{
  display: inline;
  color: white;
  float: right;
  margin-top: 2px;
}
.wporg{

  width: 38.1em;
  position: relative;
  margin-left: 140px;
  border-radius: 10px;
}
.carzine{

  width: 33.1em;
  position: relative;
  margin-left: 175px;
  border-radius: 10px;
}
.mini{

  width: 45.1em;
  border-radius: 10px;
  margin-left: 80px;
}
.capwp{
  width: 37.1em;
  position: relative;
  margin-left: 150px;
  border-radius: 10px;
}
.ligne{

  height: 3em;
  background-color: #06A2D6;
  color: black;
  border-radius: 7px;
  margin-top: 1em;
  /*!  */
  width: 83.5em;
}
.word{
  margin-left: 5em;
  display: inline;
  margin-top: 2px;
  font-family: "Waters Gothic";
  text-align: center;
  top: 11px;
  position: relative;
  color: black;
}
.sources{
  margin-left: 55em;
  display: inline;
  top: 0.59em;
  font-family: "Waters Gothic";
  position: relative;
}
.cadre{

  height: 98em;
  background-color: #1D1D1C;
  border-radius: 40px;
  width: 55.1em;
  float: left;
  /*!  */
  /*!  */
  /*!  */
  /*!  */
  display: inline;
  padding: 1em;
}
.wplogo{
  height: 8.1em;
  border-radius: 56px;
  margin: 23px;
  display: inline;
}
.titretuto{

  display: inline-grid;
  top: -50px;
  position: relative;
  left: 110px;
}
.cadre1{
  background-color: #1D1D1C;
border-top-right-radius: 40px;
margin-left: 58em;
margin-top: 0em;
  width: 25.1em;
  height: 7.4em;
  background-image: url('images/selection.png');
  background-size:   19em;
  background-repeat: round;
  border-bottom-left-radius: 40px;
}
.cadre2{

  /*!  */
  width: 25.1em;
  height: 15.1em;
  /*!  */
  background-color: #1D1D1C;
  /*!  */
  /*!  */
  /*!  */
  /*!  */
  margin-left: 58em;
  margin-top: 3em;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
}
.carousel{

  top: -4.2em;
  position: relative;
  left: 5.1em;
  transform: rotate(90deg);
  display: inline-block;
  font-weight: bold;
  font-size: 3em;
  color: #06A2D6;
}
.cadre3{
  width: 25.1em;
  height: 15.1em;
  /*!  */
  background-color: #1D1D1C;
  /*!  */
  /*!  */
  /*!  */
  /*!  */
  margin-left: 58em;
  margin-top: 3em;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
}
.reservation{
  top: -5em;
  position: relative;
  left: 6.7em;
  transform: rotate(90deg);
  display: inline-block;
  font-weight: bold;
  font-size: 2.3em;
  color: #06A2D6;
}
.cadre4{
  width: 25.1em;
  height: 15.1em;
  /*!  */
  background-color: #1D1D1C;
  /*!  */
  /*!  */
  /*!  */
  /*!  */
  margin-left: 58em;
  margin-top: 3em;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
}
.formulaire{
  top: -4.7em;
  position: relative;
  left: 6.2em;
  transform: rotate(90deg);
  display: inline-block;
  font-weight: bold;
  font-size: 2.5em;
  color: #06A2D6;
}
.cadre5{
  width: 25.1em;
  height: 15.1em;
  /*!  */
  background-color: #1D1D1C;
  /*!  */
  /*!  */
  /*!  */
  /*!  */
  margin-left: 58em;
  margin-top: 3em;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
}
.maps{
  top: -4.2em;
  position: relative;
  left: 6.2em;
  transform: rotate(90deg);
  display: inline-block;
  font-weight: bold;
  font-size: 3em;
  color: #06A2D6;
}
.cadre6{
  width: 25.1em;
  height: 15.1em;
  /*!  */
  background-color: #1D1D1C;
  /*!  */
  /*!  */
  /*!  */
  /*!  */
  margin-left: 58em;
  margin-top: 3em;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
}
.w_p{
  top: -4.2em;
  position: relative;
  left: 5.5em;
  transform: rotate(90deg);
  display: inline-block;
  font-weight: bold;
  font-size: 3em;
  color: #06A2D6;
}
.thèmewp{
  
  background-color: #06A2D6;
  border: solid;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: bold;
  margin-left: 53em;
  margin-top: 8em;
}
.wpinstall{
  background-color: #06A2D6;
border: solid;
border-bottom-left-radius: 10px;
border-top-right-radius: 10px;
font-weight: bold;
}